*{
    margin: 0;
}
body {
    background-color: blue;
}

nav {
    display: flex;
    background-color: blueviolet;
    padding: 10px;
    justify-content: space-between;
}

ul {
    display: flex;
}

ul li {
    margin-right: 15px;
    list-style-type: none;
}